<a href="https://colab.research.google.com/github/RAFIKSHA/XST_Transformation_CSV_to_DB/blob/main/index_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# importing packages import pandas as pd

import pandas as pd

#Importing Github Repository
!git clone https://github.com/RAFIKSHA/XST_Transformation_CSV_to_DB.git

fatal: destination path 'XST_Transformation_CSV_to_DB' already exists and is not an empty directory.

# New Section

In [27]:
# Read data from CSV file
dataset = pd.read_csv("/content/XST_Transformation_CSV_to_DB/india-state-wise-data-analysis.csv")

In [28]:
from tables.table import Column
# Preprocess data
def preprocess_data(df):
    # Split combined data in the 'state & district' column
    #df[['district_code','state_name', 'district_name']] = df['State & District'].str.split(",", expand=True)
    lst = df['State & District'].str.split(",", expand=True)
    #print("List: ", lst)
    df.drop(columns=['State & District'], inplace=True)

    df.insert(0,column = "District_Code", value= lst[0].str.replace("district_code:",""))
    df.insert(1,column = "State_Name", value= lst[1].str.replace("state_name:",""))
    df.insert(2,column = "District_Name", value= lst[2].str.replace("district_name:",""))

    return df

# Preprocess the data
preprocessed_set= preprocess_data(dataset.copy())

# Displaying preprocessed data
print("Preprocessed Data is:")
preprocessed_set.head()

Preprocessed Data is:

,District_Code,State_Name,District_Name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Secondary_Education,Higher_Education,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,74948,39709,21751,6402,405015,289765,694780,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,66459,41367,27950,6857,374972,342646,717618,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,16265,8923,6197,575,75493,32637,108130,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,16938,9826,3077,408,82938,39854,122792,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,46062,29517,13962,1884,288430,164044,452474,304979,109818,61334

Creating Seperate Tables

In [ ]:
#District info Table:

distrinct_infoSet = preprocessed_set[["District_Code", "State_Name", "District_Name"]]
distrinct_infoSet.head()

#Population info Table
population_infoSet = preprocessed_set[["District_Code", "Population", "Male", "Female"]]
population_infoSet.head()

#Population info Table
population_infoSet = preprocessed_set[["District_Code", "Population", "Male", "Female"]]
population_infoSet.head()

  District_Code  Population    Male  Female
0             1      870354  474190  396164
1             2      753745  398041  355704
2             3      133487   78971   54516
3             4      140802   77785   63017
4             5      476835  251899  224936

In [31]:
import mysql.connector

mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='xst'
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("create database xst3")
print('database created')

DatabaseError: ignored